body {
    font-family: 'Nunito', sans-serif;
    ;
    margin: 0;
}

#first-h1 {
    font-size: 70px;
    border-left: 5px solid tomato;
    border-radius: 5px;
    border-image-slice: 1;
    padding-left: 20px;
}

#align {
    text-align: center;
}


h2 {
    font-size: 60px;
    margin-bottom: 75px;
    font-weight: bolder;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.orange {
    color: orange;
}

.equal-half {
    height: 350px;
    width: 50%;
    padding: 10%;

}

.equal-half img {
    width: 80%;
}

.flexible {
    display: flex;
    margin-bottom: 10%;
    align-items: center;
}

.button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.box-one {
    width: 400px;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    background-color: lightskyblue;
    border-radius: 20px;

}

.box-two {
    width: 400px;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    background-color: bisque;
    border-radius: 20px;

}

.box-three {
    width: 400px;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    background-color: thistle;
    border-radius: 20px;
}

.box-one img {
    width: 50%;
}

.box-two img {
    width: 50%;
}

.box-three img {
    width: 50%;
}

.two-third {
    height: 350px;
    width: 60%;
    padding: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 10%;
}

.one-third img {
    width: 75%;
    margin-left: 20%;
}



.one-third2 img {
    width: 75%;
    margin-right: 20%;
}

footer {
    background-color: cadetblue;
    height: 200px;
}

footer h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 1%;
    font-style: italic;
}

footer p {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}